@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}
iframe{
    border: none;
    width: 100%;
    height: 100px;
}
#footer{
    width: 100%;
    height: 100px;
    bottom: 0;
    position: bottom;
}
#input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
input, button{
    margin: 5px;
}
input{
    width: 400px;
    color: rgb(91, 91, 91);
}
label{
    color: #1d7044 ;
    align-items: left;
}
button{
    padding: 10px;
    color: white;
    background-color: #1d7044;
}
button:hover{
    transition: 0.3s;
    background-color: #155031;
}
#main-container{
   text-align: center;
   padding: 10vh;
}
.petCard{
border-radius: 18px;
background-color: #ffffff;
box-shadow: 11px 11px 22px #c3c3c3;
}
.hidden{
    display: none;
}
.error{
    color: red;
}
.sucesso{
    color: green;
}